body {
  font-family: EXO, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
span,
::after,
::before {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 48px;
}
/* Variable Used */
:root {
  --primary-color: #7c3af0;
  --dark-primary-color: #501aad;
  --font-size: 55px;
  --section-padding: 100px;
  --section-bg-color: #f9fafb;
  --light-purple: rgba(124, 58, 240, 0.2);
}
/* NavBar  */
.navbar {
  position: fixed;
  z-index: 9999999999999;
  --bs-navbar-toggler-focus-width: none;
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-active-color: var(--primary-color);
}
.navbar-nav {
  --bs-nav-link-hover-color: var(--primary-color);
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  --bs-navbar-padding-y: 1rem;
  --bs-navbar-padding-x: 2.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
}
.nav-link.active {
  --bs-navbar-active-color: var(--primary-color);
  border-bottom: 2px solid #6019db;
  font-weight: bold;
}
.nav-item.link {
  position: relative;
}
.nav-item.link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  right: 0;
  transition: all 1s ease;
}
.nav-item.link:hover::after {
  width: 100%;
}
.nav-link:hover {
  border-bottom: none;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}
/* end NavBar */
/* hero-section */
#hero-section {
  background-image:
    linear-gradient(rgba(105, 38, 177, 0.8)), url(../imgs/hero-bg-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.head h1 {
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 700;
}
.form {
  background-color: white;
  width: 60%;
  padding: 20px;
}
/* btn */
.input-box {
  border: none;
  width: 100%;
  height: 50px;
}

.location,
.btn,
.choose-num {
  background-color: white;
  width: 100%;
  border: 1px solid gray;
}
.location:focus {
  border: 2px double var(--primary-color);
}
/* harg3lha */
.btn:focus {
  border: 2px double var(--primary-color);
}
label {
  font-size: 14px;
}
.dropdown-menu {
  --bs-dropdown-link-hover-bg: blue;
  --bs-dropdown-link-hover-color: white;
}
.choose-num {
  background-color: white;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  height: 50px;
  padding: 0 10px;
}
.input-num {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
}
.btn-light,
.btn-light:focus {
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-active-bg: white;
  --bs-btn-hover-border-color: #969696;
}
.search-btn {
  background-color: var(--primary-color);
  border: none;
}
.search-btn:hover {
  background-color: #6019db;
}
/* section 2 */
.premium-section {
  width: 200px;
  position: relative;
}
.premium-section::before {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to left, var(--primary-color), white 90%);
  position: absolute;
  left: -110px;
  top: 50%;
}
.premium-section::after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, var(--primary-color), white 90%);
  position: absolute;
  right: -110px;
  top: 50%;
}

/* section 2 */
#section-two {
  padding-block: var(--section-padding);
  gap: 20px;
  background-color: var(--section-bg-color);
}
#section-two h2 {
  font-weight: 900;
}
.pill-div {
  width: 400px;
  font-size: 15px;
  color: var(--primary-color);
}
.pill-div span {
  font-size: 17px;
  border: 2px solid var(--primary-color);
  position: relative;
}
.pill-div span::before {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to left, var(--dark-primary-color), white 90%);
  position: absolute;
  left: -110px;
  top: 50%;
}
.pill-div span::after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, var(--dark-primary-color), white 90%);
  position: absolute;
  right: -110px;
  top: 50%;
}
#section-two > span {
  font-size: 50px;
}
/* Text Gradient CSS */
.text-gradient {
  color: #7c3af0;
  background-image: linear-gradient(90deg, #7c3af0 50%, #f99700 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/*cards */
.card {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 20px;
  --bs-card-cap-padding-x: 0;
  --bs-card-cap-padding-y: 0;
  --bs-card-img-overlay-padding: 0;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}
/* .cards .row > * {
  padding-right: 0;
  padding-left: 0;
} */
.card-title {
  color: var(--dark-primary-color);
}
.villa-img {
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-color: #00a63e;
  position: relative;
}
.villa-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s;
}
.villa-img:hover img {
  transform: scale(1.1);
}
.card-body .profile-data .profile .profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-body .profile-data .btn-schedule {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  border: none;
  background-color: var(--light-purple);
  color: var(--dark-primary-color);
  transition: 0.3s ease;
}
.card-body .profile-data .btn-schedule:hover,
.btn-schedule:focus {
  background-color: rgba(124, 58, 240, 0.4);
}
/* pseudo elements */
.card.one .villa-img::before {
  content: "Featured ";
  background-color: var(--primary-color);
  padding: 5px 10px;
  position: absolute;
  border-radius: 15px;
  font-size: 13px;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 99;
}
.camera-data {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  font-size: 13px;
  width: 100px;
  padding: 5px 10px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.heart-pic {
  background-color: rgba(225, 225, 225, 0.8);
  padding: 10px 5px;
  width: fit-content;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.heart-pic i {
  color: rgb(74, 85, 101);
}
.heart-pic:hover i {
  color: rgb(240, 50, 58);
}
.card.two .villa-img::before {
  content: "New Listing ";
  background-color: #00a63e;
  padding: 5px 10px;
  position: absolute;
  border-radius: 15px;
  font-size: 13px;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 99;
}
.card.three .villa-img::before {
  content: "Price Drop ";
  background-color: #e17100;
  padding: 5px 10px;
  position: absolute;
  border-radius: 15px;
  font-size: 13px;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 99;
}
/* Section-three */
#section-three {
  padding-block: var(--section-padding);
  gap: 20px;
}
#section-three .services .nav-pills {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#section-three h2 {
  font-weight: 900;
}

#pills-home-tab {
  border-bottom: 2px solid var(--primary-color);
}
.nav-link.active:hover {
  border-bottom: 2px solid var(--primary-color);
}
.nav-pills {
  --bs-nav-pills-link-active-color: var(--primary-color);
  --bs-nav-pills-link-active-bg: var(--light-purple);
  --bs-nav-pills-border-radius: none;
}
.nav {
  --bs-nav-link-color: #4a5565;
  --bs-nav-link-hover-color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-pills .nav-link.active i {
  color: var(--bs-nav-pills-link-active-color);
}
.nav-pills .nav-item:hover {
  color: var(--primary-color);
}
.nav-pills .nav-item i {
  color: rgb(86, 87, 88);
}
.nav-pills .nav-item:hover i {
  color: var(--primary-color);
}
/* .nav-link:hover {
  border-bottom: 2px solid var(--light-purple);
} */
/* left content */
.activity .activity-icon {
  color: var(--primary-color);
  background-color: var(--light-purple);
  height: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
}
.home-content .left p {
  font-size: 18px;
}
.home-content .left h3 {
  font-size: 30px;
}
/* right */
.home-content .right {
  align-self: center;
  margin-top: 30px;
  position: relative;
}
.img-wrapper {
  overflow: hidden;
  border-radius: 20px;
  height: 350px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content .success-rate p {
  color: var(--primary-color);
  margin: 0;
}

.home-content .success-rate {
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: fit-content;
  position: absolute;
  left: -30px;
  bottom: -30px;
  width: 25%;
}
button.selling {
  background-color: #00a63e;
}
.activity .activity-icon.selling {
  color: #00a63e;
  background-color: #dbfce7;
  height: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
}
.home-content .success-rate.selling {
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: fit-content;
  width: 30%;
  position: absolute;
  left: 450px;
  bottom: -30px;
}
.home-content .success-rate.selling p {
  color: #00a63e;
  margin: 0;
}
.success-rate.rent {
  width: 30%;
}
button.invest {
  background-color: #d08700;
}
.activity .activity-icon.invest {
  background-color: #fef9c2;
  height: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
}
.success-rate.invest p {
  color: #d08700;
}
.success-rate.invest {
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: fit-content;
  width: 30%;
  position: absolute;
  left: 450px;
  bottom: -30px;
}
.activity .activity-icon.selling {
  background-color: #e0e7ff;
  height: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
}
.success-rate.commerce p {
  color: #3116ff;
}
.search-btn.commerce {
  background-color: #3116ff;
}
/* what our  clients say */
#comments {
  padding-block: var(--section-padding);
  background-color: #561791;
}
#comments .pill-div-2 span {
  background-color: #e4d4ff;
  font-size: 17px;
  border: 4px solid rgba(186, 172, 255, 0.5);
  position: relative;
  color: var(--dark-primary-color);
}
#comments .said .said-comments {
  font-weight: 900;
  color: white;
}
#comments .pill-div-2 span::before {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to left, #fc9900, #561791 90%);
  position: absolute;
  left: -110px;
  top: 50%;
}
#comments .pill-div-2 span::after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #fc9900, #561791 90%);
  position: absolute;
  right: -110px;
  top: 50%;
}
#comments .said p {
  color: #adabb1;
}
/* carasol */
.slider {
  padding-top: 20px;
}
.item {
  width: 60%;
  background: #fff;
  border-radius: 15px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-inner {
  height: 500px;
}

.carousel-item {
  height: 100%;
}

.carousel-item > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
} */
/* help center section */
#help-center {
  padding-block: var(--section-padding);
  background-color: #f7f7f7;
}
#help-center .pill-div-3 span {
  background-color: #e4d4ff;
  font-size: 17px;
  border: 4px solid rgba(186, 172, 255, 0.5);
  position: relative;
  color: var(--dark-primary-color);
}
#help-center .pill-div-3 span::before {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to left, #fc9900, #561791 90%);
  position: absolute;
  left: -110px;
  top: 50%;
}
#help-center .pill-div-3 span::after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #fc9900, #561791 90%);
  position: absolute;
  right: -110px;
  top: 50%;
}
#help-center .said p {
  color: #adabb1;
}
#help-center .asked-question-head h2 {
  color: var(--primary-color);
  font-weight: 900;
}
/* accordion */
.accordion-button {
  width: 100%;
}
.accordion-flush > .accordion-item > .accordion-collapse,
.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush
  > .accordion-item
  > .accordion-header
  .accordion-button.collapsed {
  border-radius: 20px;
}
.accordion-item {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  width: 70%;
}
.accordion-collapse .collapse.show {
  width: 70%;
}
.accordion-header button {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  padding: 25px;
}
.accordion-header button:focus {
  border: none;
}
.accordion-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.accordion {
  --bs-accordion-active-bg: white;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
}
.accordion-button:hover {
  background-color: #f9fafb;
}
.accordion-button:not(.collapsed) {
  color: #101828;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
/* Get in touch */
#get-in-touch {
  padding-block: var(--section-padding);
  background-color: white;
}
.asked-question-head .get-Touch {
  font-weight: 900;
  font-size: 48px;
  color: #7c3af0;
  background-image: linear-gradient(90deg, #7c3af0 60%, #f99700 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.contacts-cards .card-body {
  border: 2px solid #f3f4f6;
  border-radius: 15px;
  width: 16rem;
  padding: 20px;
}
.contacts-cards .card-body .card-icon {
  width: fit-content;
  border-radius: 13px;
  padding: 20px;
  margin-bottom: 10px;
}

.contacts-cards .card-body a {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}
.contacts-cards .card-body.phone .card-icon {
  background-color: #822fff;
}
.contacts-cards .card-body.mail .card-icon {
  background-color: #9e26fe;
}
.contacts-cards .card-body.visit .card-icon {
  background: linear-gradient(to right bottom, #e555db 50%, #f99700 90%);
}
.contacts-cards .card-body.chat .card-icon {
  background-color: #574cfc;
}
.contacts-cards .card-body {
  transition: all ease-in 0.2s;
}
.contacts-cards .card-body:hover {
  border-color: #c4b4ff;
  transform: translateY(-7px);
}
.contact-information .left-information .contact-data-two {
  background-color: #f4f5f7;
  padding: 20px;
  border-radius: 15px;
}
.contact-information .left-information h3 {
  font-weight: 700;
  font-size: 24px;
}
.contact-information .left-information .contact-data-two .data-for .icon {
  background-color: white;
  width: fit-content;
  padding: 10px 7px;
  border-radius: 7px;
}
.contact-information .left-information .contact-data-two .data-for.location {
  border: none;
  background-color: inherit;
}
.contact-information .left-information .contact-data-two .data span {
  font-size: 14px;
  margin-bottom: 0;
}
.contact-information .left-information .contact-data-two .data p {
  font-size: 16px;
}
.needed-contact-data .connect-with-us {
  background-color: #8c1cfc;
  padding: 32px;
  border-radius: 15px;
}
.needed-contact-data .connect-with-us h3 {
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.needed-contact-data .connect-with-us span {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.contact-information {
  width: 100%;
}
.social-media {
  margin-top: 10px;
}
.social-media a {
  background-color: #a944fc;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
  transition: transform ease-in 0.2s;
}
.social-media a:hover {
  background-color: #b15dfc;
  transform: scale(1.2);
}
.right-info {
  padding: 40px;
  border-radius: 15px;
  border: 3px solid #f3f4f6;
}
.right-info h3 {
  font-weight: 700;
  font-size: 30px;
}
.right-info label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(97, 97, 97);
  margin-bottom: 10px;
}
.text-area-label {
  font-size: 14px;
  font-weight: 100;
  color: rgb(97, 97, 97);
}
.right-info input {
  border: 2px solid #f3f4f6;
  background-color: #f5f3ff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px 16px;
  width: 100%;
}
.form-select,
.form-control {
  background-color: #f5f3ff;
}

.right-info input.form-check-input {
  width: auto;
  padding: 9px;
  margin-right: 5px;
  border: 1px solid gray;
}
.form-check-input:focus {
  border-color: white;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--primary-color);
}
.send-msg-bottom {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 15px;
  transition: transform 0.2s;
  width: 100%;
  border: none;
}
.send-msg-bottom:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transform: translateY(-3px);
}
div.form-check {
  margin-block: 15px;
  padding: 10px;
  background-color: #f5f3ff;
  border-radius: 15px;
}
.last-span {
  font-size: 14px;
}
.left-information {
  width: 360px;
}
.right-info {
  width: 700px;
}
.right-info .form {
  width: 100%;
}
#get-in-touch {
  position: relative;
  overflow: hidden;
}
#get-in-touch::after {
  content: "";
  background-color: #f5f3fe;
  width: 250px;
  height: 250px;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
#get-in-touch::before {
  content: "";
  background-color: #f5f3fe;
  width: 230px;
  height: 230px;
  border-top-right-radius: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#get-in-touch .upper-circle {
  width: 150px;
  height: 150px;
  border: 5px solid #ddd6ff;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 130px;
  z-index: 90;
}
#get-in-touch .lower-circle {
  width: 100px;
  height: 100px;
  border: 5px solid #ddd6ff;
  border-radius: 50%;
  position: absolute;
  bottom: 70px;
  left: 130px;
  z-index: 999;
}
#get-in-touch .container .asked-question-head {
  position: relative;
  z-index: 9999;
}
/* footer section */
#footer {
  padding-block: 50px;
  color: white;
  background-color: #531792;
}

#footer .container .top .footer-elite-span {
  font-size: 24px;
  font-weight: 700;
}
.social-media.footer a {
  padding: 6px;
  background-color: #682f99;
}
.social-media.footer {
  width: fit-content;
}
#footer p {
  font-size: 14px;
  color: gainsboro;
}
.lower-foot {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.contact-information {
  width: 100%;
  position: relative;
  z-index: 99999;
  background-color: white;
}
.left-information,
.right-info {
  width: 100%;
}
